<!DOCTYPE html>
<html>
<head>
    <title>Query: Question 6</title>
</head>
<body>
<h1>A query using GROUP BY</h1>

<table border ="1">
    <tr>
        <th>Wine Name</th>
        <th>Wine Color</th>
        <th>Wine Varietal</th>
        <th>Wine ABV</th>
        <th>Wine Year</th>

    </tr>
    <% for(var i=0; i<query6.length; i++){ %>
    <tr>
        <td><%= query6[i].name %> </td>
        <td><%= query6[i].color %> </td>
        <td><%= query6[i].varietals %> </td>
        <td><%= query6[i].ABV %> </td>
        <td><%= query6[i].year %> </td>

        <% } %>
    </tr>
</table>
<h2>SQL Code:</h2>
<h2>select name,color,varietals,ABV,year <br/>
    from wine <br/>
    group by year;</h2>
</body>
</html>