<!DOCTYPE html>
<html>
<head>
    <title>Address - Edit</title>
</head>
<body>
<h1>Edit Address</h1>
<br/>
<form action="/addressWD/update" method="get">
    Street:
    <input id="street"
           name="street"
           type="text" value="<%= addressWD.street %>"
    />
    <br/>
    City:
    <input id="city"
           name="city"
           type="text" value="<%= addressWD.city %>"
    />
    <br/>
    State:
    <input id="state"
           name="state"
           type="text" value="<%= addressWD.state %>"
    />
    <br/>
    Country:
    <input id="country"
           name="country"
           type="text" value="<%= addressWD.country %>"
    />
    <br/>
    Zip Code:
    <input id="zip_code"
           name="zip_code"
           type="text" value="<%= addressWD.zip_code %>"
    />
    <br/>
    <input  type="hidden"
            id= "addressWD_id"
            name="addressWD_id"
            value="<%= addressWD.addressWD_id %>"
    />
    <br />
    <br />
    <input type="submit" />
</form>
</body>
</html>